<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SQLServer-->
  <!--<add name="PLKJDS" connectionString="Server=.;Initial Catalog=PLKJDS;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />-->
  <!--MySQL-->
  <add name="PLKJDS" connectionString="server=120.24.159.138;user id=myyg;password=myyg@sasa;port=3306;database=PLKJDS;persistsecurityinfo=True;" providerName="MySql.Data.MySqlClient" />
  <!--<add name="PLKJDS" connectionString="server=localhost;user id=root;password=123456;port=3306;database=PLKJDS;persistsecurityinfo=True;" providerName="MySql.Data.MySqlClient" />-->
  <!--Oracle
  <add name="PLKJDS" connectionString="User Id=PLKJDS;Password=sasa;Data Source=PLKJDS" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>