@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/css/updoadFiles/reset.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/default.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/jquery-filer.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/jquery.filer.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/tomorrow.css" rel="stylesheet" />
<link href="~/Content/css/updoadFiles/custom.css" rel="stylesheet" />
<script src="~/Content/js/plupload/plupload.full.min.js"></script>
<script src="~/Content/js/loadDeviceParam.js"></script>
<script src="~/Content/js/updoadFile/jquery.filer.min.js"></script>
<script src="~/Content/js/updoadFile/prettify.js"></script>
<script src="~/Content/js/updoadFile/scripts.js"></script>
<script src="~/Content/js/updoadFile/custom.js"></script>
<style>
    #selectImg {
        top: -109px;
        left: 229px;
    }
</style>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        bindSection();
        if (!!keyValue) {
            $.ajax({
                url:"@Url.Action("GetFormJson", "Course")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {
        $("#chapter").bindSelect({
            url:"@Url.Action("GetTreeSelectJson", "Course")?type="+"0"+"&courseID="+keyValue,
            change: function () {
                bindSection();
            }
        });
        $("#CourserID").val(keyValue);
    }

    function bindSection()
    {
        var pid = $("#chapter").val();
        $("#ChapterID").bindSelect({
            url: "@Url.Action("GetTreeSelectJson", "Course")?type=" + "1" + "&courseID=" + pid,
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false; 
        }
        else
        {
            var chapterID = $("#ChapterID").val();
            if (chapterID == "" || chapterID == "undefinded")
            {
                alert("请选择完整的章节");
            }
            else
            {
                $.submitForm({
                    url: "@Url.Action("SubmitCourseContent", "Course")",
                    param: $("#form1").formSerialize(),
                    success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
            }
        }
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">所属章节</th>
                    <td class="formValue">
                        <input type="hidden" id="CourserID" name="CourserID" />
                        <select class="form-control" id="chapter"></select>
                    </td>
                    <td class="formValue">
                        <select class="form-control" id="ChapterID"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">课件类型</th>
                    <td class="formValue">
                        <select class="form-control" id="TypeID">
                            <option>文档</option>
                            <option>视频</option>
                        </select>
                    </td>
                </tr>
                <tr >
                    <td colspan="3">
                        <div >
                            <input type="file" name="file" id="demo-fileInput-6" multiple="multiple">
                            <input type="hidden" id="FileID" name="FileID" />
                        </div>
                    </td>
                </tr>          
            </table>
        </div>
    </div>
</form>
